/* PANEL */
.apr-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.apr-close {
    background: #2d5bff;
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
/*.apr-1303223025-panel {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 15px;
    width: 200px;
    z-index: 9999;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
}
.apr-1303223025-panel {
    position: fixed;
    right: 60px; /* sedikit ke kiri dari tab 
    top: 50%;
    transform: translateY(-50%);
    
    width: 260px;
    max-height: 80vh;
    overflow-y: auto;

    background: white;
    border-radius: 10px;
    padding: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 999999 !important;
  
}*/
.apr-1303223025-panel {
    position: fixed !important;
    bottom: 90px;
    left: 50% ;
    right: 60px !important;
    top:50% !important;
    transform: translate(-50%, -50%);
    width: 320px;
    max-height: 80vh;
    overflow-y: auto;

    background: white;
    border-radius: 15px;
    padding: 15px;
    
    z-index: 99999  !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.apr-1303223025-hide {
    transform: translateY(-50%) translateX(100%);
     opacity: 0;
    pointer-events: none;
    display: none!important;
}
.hide {
    transform: translateY(-50%) translateX(100%);
    opacity: 0;
    pointer-events: none;
    
}


/* TAB */
/*.apr-1303223025-tab {
    position: fixed;
    right: 0;
    top: 50%;
    background: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 9998;
}
.apr-1303223025-tab {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    background: #007bff;
    color: white;
    padding: 12px 14px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    z-index: 100000 !important;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}*/
.apr-1303223025-tab {
    position: fixed !important;
    bottom: 20px;
    left: 50%;
    right: 0 !important;
    top: 50% !important; 
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    background: #2d5bff;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 28px;
    cursor: pointer;
    z-index: 999999 !important;
    
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.apr-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.apr-body button {
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: #f3f3f3;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apr-body button:hover {
    background: #2d5bff;
    color: white;
}

/* HIGH CONTRAST */
.apr-1303223025-contrast {
    background: black !important;
    color: white !important;
}

/* FONT */
.apr-1303223025-font-dyslexic {
    font-family: 'OpenDyslexic', Arial, sans-serif;
}
